# Logical Operations

In [1]:
t,f = True, False
print(type(t))

<class 'bool'>

In [2]:
print(t or f)

True

In [3]:
print(t and f)

False

In [4]:
print(not t)

False

In [6]:
print(t !=f)

True

In [9]:
print(1 != 1)

False

In [8]:
print(t==f)

False

# Printing Strins

In [14]:
hello = "Hello"
world = "World"

In [20]:
print(world,",",len(world)) # buradaki gibi farklı tipler arasına , getirilerek aynı printte basılabilir.

World , 5

In [21]:
#s is used as a placeholder for string values you want to inject into a formatted string.
#%d is used as a placeholder for numeric or decimal values

"""
The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size limit), together with a format string,
with a format string, which contains normal text together with "argument specifiers " ,
special symbols like "%s" and "%d".

"""

'\nThe "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size limit), together with a format string,\nwith a format string, which contains normal text together with "argument specifiers " ,\nspecial symbols like "%s" and "%d".\n\n'

In [22]:
world2= "%s %d" % (world, len(world))

In [24]:
print(world2)

World 5

In [26]:
print(world+" "+str(len(world))) #aralarına boşluktan olusan bir string de koyduk.

World 5

In [27]:
print(hello[0])

H

In [29]:
print(hello[1])

e

In [28]:
print(hello[-1])

o

In [30]:
print(world[-1])

d

In [32]:
print(world[-3]) # w 0 dan baslıyım geriye dogru sayıyoruz.

r

In [34]:
hello[2:4]

'll'

In [35]:
world[1:4]

'orl'

In [36]:
print(world[3:5])

ld

In [39]:
print(world[3:]) # sayı yazılmazsa belirtilen sayıdan baslayıp sonuna kadar yazar.

ld

In [41]:
hello[:4] # ikinci yazılana kadar olanı verir (ikinci sayı dahil olmaz)

'Hell'

In [42]:
hello[:]

'Hello'

In [43]:
hello[::-1] # TERS ÇEVİRMEK İÇİN.

'olleH'

In [44]:
world[:-3]

'Wo'

In [45]:
hello[2:len(world)]

'llo'

In [48]:
world[2:4:1]

'rl'

In [50]:
world[1::2] #: : :n --- n adım sayısı.

'ol'

In [51]:
city = "istanbul"
city[0:6:2]

'itn'

In [52]:
"t" in city

True

In [56]:
"y" in city

False

In [53]:
"anb" in city

True

In [54]:
"snl" in city

False

In [57]:
n=10  #integeri stringe çevirme
print(n)
str(n)

10

'10'

In [58]:
s="13" #Stringi integar a çevirme
s
int(s)

13

In [60]:
m=8
print(float(m))
m

8.0

8

In [61]:
ai= "artifical" + " " + "intelligence"
print(ai)

artifical intelligence

In [63]:
ai

'artifical intelligence'

In [64]:
word = "machine learning"
print(word.capitalize())  #capitalize harfi capital yapar.

Machine learning

In [65]:
print(word.upper())

MACHINE LEARNING

In [67]:
print(word.replace("machine","artificial")) # machine stringini bul artificial ile değiştir demek replace().

artificial learning

In [68]:
word

'machine learning'

In [69]:
word2="            artificial general       intelligence"

In [70]:
word2

'            artificial general       intelligence'

In [71]:
print(word2.strip()) #delete spaces in the beginning and end

artificial general       intelligence

In [72]:
 y= input("Please enter a city name :") #input takes string as a parameter

Please enter a city name :istanbul

In [73]:
print(y)

istanbul

In [79]:
type(y)

str

In [74]:
x=int(input("Please enter an integer: "))
print(x)

Please enter an integer: 111
111

In [75]:
month =12
day=365

In [77]:
print("A year consist of ",month, "months and ",day,"days.")

A year consist of  12 months and  365 days.

In [86]:
print("A year consists of "+ str(month) + " months and "+ str(day)+ "days.") 
#stringler veya tipler arasına , veya + ile ayırma yapılmalıdır

A year consists of 12 months and 365days.

# Lists

In [80]:
"""
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.
Each element or value that is inside of a list is called an item. Just as strings are defined as characters
between quotes, lists are defined by having values between square brackers [ ].
"""

'\nA list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.\nEach element or value that is inside of a list is called an item. Just as strings are defined as characters\nbetween quotes, lists are defined by having values between square brackers [ ].\n'

In [134]:
mylist=[3,5,6,7] #creating lists

In [105]:
print(mylist)

[3, 5, 6, 7]

In [84]:
print(mylist[2])

6

In [85]:
print(mylist[-1])

7

In [87]:
print(mylist[-3])

5

In [106]:
mylist[2] = "python" # lists can contain different data types
print(mylist)

[3, 5, 'python', 7]

In [107]:
mylist.append("course") #we can add items to the end of list .append()
print(mylist)

[3, 5, 'python', 7, 'course']

In [108]:
mylist.append("course")
mylist.append("course")
print(mylist)

[3, 5, 'python', 7, 'course', 'course', 'course']

In [109]:
thelast= mylist.pop() #pop() gets rid of the last element of the list
#önce elemenı çıkarıp daha sonra thelastın içine koyar.
print(thelast)

course

In [110]:
print(mylist)

[3, 5, 'python', 7, 'course', 'course']

In [111]:
mylist.index("python") #.index() fonks. belirtinen obj lokasyonunu bildirir.

2

In [112]:
mylist.index("course")

4

In [113]:
mylist.count("course") #.count() belirtinen objeden kaç tane oldugunu döndürür.

2

In [114]:
mylist.remove("course")
print(mylist)

[3, 5, 'python', 7, 'course']

In [115]:
l=[1,6,3]
l.sort() #.sort() küçükten büyüğe sıralar HEPSİ STRİNG YA DA HEPSİ İNT OLMALI.
l

[1, 3, 6]

In [116]:
mylist.remove("course")
mylist.remove("python")
print(mylist)

[3, 5, 7]

In [135]:
mylist.reverse()
mylist

[7, 6, 5, 3]

In [136]:
mylist2= ["course","hello","python"]
mylist2.sort()
mylist2

['course', 'hello', 'python']

In [137]:
mylist

[7, 6, 5, 3]

In [138]:
mylist3=[1,11,111,1111]
mylist.extend(mylist3)
mylist

[7, 6, 5, 3, 1, 11, 111, 1111]

In [139]:
mylist4=[1,11,111,1111]
mylist.append(mylist4)
print(mylist)

[7, 6, 5, 3, 1, 11, 111, 1111, [1, 11, 111, 1111]]

In [140]:
mylist.insert(5,55)
print(mylist)

[7, 6, 5, 3, 1, 55, 11, 111, 1111, [1, 11, 111, 1111]]

In [127]:
numbers=list(range(8))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7]

In [141]:
number2 = list(range(2,14,3))
print(number2)

[2, 5, 8, 11]

In [142]:
print(number2[2:5])

[8, 11]

In [131]:
number2[5:8]=[10,11,12] #5 6 7 yi belirtilen elemanlarla değiştirdik.
numbers

[0, 1, 2, 3, 4, 5, 6, 7]

In [132]:
12 in numbers

False

In [133]:
15 in numbers

False

In [143]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

In [144]:
[1,2,3 ]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [146]:
list1=[[1,2],3,[4,5,6]] 
list1[2][1] # 2. elamanının 1. elemanını bastır.

5

# If/Else Conditions

In [148]:
course = "python"
s= input ("Please enter a letter: ")
if s in course:
    print("Exists!")
else:
    print("Not exist")

Please enter a letter: o
Exists!

In [149]:
course = "python"
s= input ("Please enter a letter: ")
if s in course:
    print("Exists!")
else:   
    print("Not exist")

Please enter a letter: a
Not exist

In [150]:
course = "python"
s= input ("Please enter a letter: ")
if s not in course: #not in !=
    print("Not exist")    
else:   
    print("Exists!")

Please enter a letter: a
Not exist